.background {
    position: relative; 
    height: 100%; 
    width: 244%; 
    background-attachment: fixed;
    overflow: hidden;
}

.Backgroundimages {
    height: 40%;
    width: 23%;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.frog-image {
    top: 120px;
    left: 0;
    width: 20%;
}

.frontlever-image {
    top: 100px; 
    right: 0; 
}

.handstand-image {
    bottom: 0; 
    left: 0; 
}

.pulup-image {
    bottom: 0; 
    right: 0; 
}